/*==========================header====================*/
#header{
    height:88px;
    background:#FF4500;
}
.header{
    height:88px;
    background:#FF4500;
    background:url(../images/header.png) no-repeat 8px 37px;
    position:relative;
}
.header .u1 li{
    float:left;
}
.header .u1 li a{
    font-size:12px;
    color:#FFDFF7;
    padding-right:8px;
}
.header .u2>li{
    float:left;
}
.header .u2 li .u4{
    position:absolute;
    display:none;
     z-index:2;
}
.header .u2 li:nth-child(1):hover .u4{
    display:block;
}
.header .u2 li:nth-child(1):hover span a{
    color:red;
}
.header .u2 li:nth-child(2):hover span a{
    color:red;
}
.header .u2 li:nth-child(1):hover span{
        background:#FFFFFF;
        color:#FF4500;
}
.header .u2 .u4 li{
    width:131px;
    height:29px;
    background:#FFFFFF;
    border-bottom:1px dotted #ccc;
}
.header .u2 .u4 a{
    font-size:12px;
    color:#6E3339;
    padding-left:27px;
    background:url(../images/my_1.png) no-repeat 5px center;
}
.header .u2 .u5{
    position:absolute;
    display:none;
    background:#fff;
    z-index:2;
}
.header .u2 li:nth-child(2):hover .u5{
    display:block;
}
.header .u2 li:nth-child(2):hover span{
        background:#FFFFFF;
        color:#FF4500;
}
.header .u2 .u5 li{
    width:225px;
   
}
.header .u2 .u5 li p{
    position:relative;
    vertical-align:top;
    width:225px;
    height:67px;
}
.header .u2 .u5 li p img{
    position:absolute;
    top:16px;
    left:0;
}
.header .u2 .u5 li p>a{
    position:absolute;
    top:16px;
    left:75px;
    font-size:10px;
    color:#75625A;
    line-height:14px;
    text-decoration:underline;
}
.header .u2 .u5 li p span{
    position:absolute;
    top:58px;
    left:75px;
}
.header .u2 .u5 li  h3,.sp1{
    margin-left:40%;
}

.header .u2 .u5 li .btn{
    background:#575857;
    width:102px;
    height:24px;
    border-radius:3px;
    margin-left:40%;
    color:#fff;
}
.header .u2 li span{
    padding:0 20px 0 5px;
    position:relative;
}
.header .u2 li span .dj{
    position:absolute;
    right:0px;
    top:1px;
}
.header .u2 li span .help{
    position:absolute;
    left:-20px;
    top:1px;
}
.header .u2 li span .gwc{
    position:absolute;
    left:0;
    top:0;
}
.header .u2 li a{
    font-size:10px;
    color:#FFDFF7;
}
.header .s1 {
    position:absolute;
    left:341px;
    top:65px;
}
.header .s1 a{
    font-size:12px;
    color:#FFFFD6;
    font-weight:999;
    text-decoration:underline;
}
.header p input:nth-child(1){
    display:block;
    background:url(../images/header_ss.png) no-repeat 8px center;
    background-color:#CFCFCF;
    width:330px;
    height:30px;
    padding-left:20px;
    border:1px solid #593B3A;
    position:absolute;
    top:30px;
    left:340px;
     z-index:1;
  
}
.header p input:nth-child(2){
    display:block;
    background:#5B403A;
    width:80px;
    height:30px;
    position:absolute;
    left:670px;
    top:30px;
    z-index:1;
}
.header h2{
    position:absolute;
    top:30px;
    right:22px;
    height:27px;
    color:#FFFFFF;
    font-size:16px;
    padding-left:25px;
    background:url(../images/phone.png) no-repeat left center;
}
.header h2 .tel{
    position:absolute;
    left:0px;
    top:0;
}
#logo{
    height:30px;
    background:#2B2B2B;
}
.logo{
    height:30px;
    background:#2B2B2B;
}
.logo .u1>li>a{
    display:block;
    height:30px;
    width:211px;
    background:url(../images/nav_zcd.png) no-repeat right center;
    background-color:#404040;
    line-height:30px;
    font-weight:999;
    color:#CFCFCF;
    padding:0 0px 0 10px;
}
.logo .u1 .u3>li{
    padding-left:12px;
    background: #fff;
}

.logo .u1 .u3>li:nth-child(2){
    background:#F1F1F1;
}
.logo .u1 .u3>li:nth-child(4){
    background:#F1F1F1;
}
.logo .u1 .u3>li:nth-child(6){
    background:#F1F1F1;
}
.logo .u1 .u3 li>h2{
    background:url(../images/logo_jj.png) no-repeat right center;
    font-size:12px;
    color:#404040;
}
.logo .u1 .u3 p span{
    font-size:12px;
    line-height:18px;
    color:#7F5A7F;
}
.logo .u1 .u3>li{
    background: white;
    height:70px;
    width:211px;
    position:relative;
}
.logo .u1 li .u3{
    display:none;
    position:absolute;
}
.logo .u1 li:hover .u3{
    display:block;
}
.logo .u1 .u3>li .nav{
    display:none;
    position:absolute;
    left:211px;
    top:-70px;
    width:580px;
    height:430px;
}
.logo .u1 .u3 li:nth-child(2):hover .nav{
    display:block;
}
.logo .u1 .u3 li .nav .nav_l{
    padding:0 0 0 9px;
    width:412px;
    height:430px;
    float:left;
    background:#404040;
}
.logo .u1 .u3 li .nav .nav_l div{
    height:220px;
    padding-top:10px;
}
.logo .u1 .u3 li .nav .nav_l h2{
    font-weight:999;
    font-size:12px;
    color:#829999;
    width:395px;
    height:30px;
    border-bottom:2px solid #829999;
}
.logo .u1 .u3 li .nav .nav_l .nav_ul{
    float:left;
    
}
.logo .u1 .u3 li .nav .nav_l .nav_ul li a{
    display:block;
    font-size:10px;
    color:#C6CFCF;
}
.logo .u1 .u3 li .nav .nav_l .nav_ul1 li{
    float:left;
}
.logo .u1 .u3 li .nav .nav_l span{
    display:block;
    color:#829999;
    width:395px;
    height:30px;
}
.logo .u1 .u3 li .nav .nav_l span li a {
    width:108px;
    font-size:9px;
    color:#C6CFCF;
}
.logo .u1 .u3 li .nav .nav_r{
    padding:14px 0 0 9px;
    width:168px;
    height:430px;
    background:#404040;
}
.logo .u1 .u3 li .nav .nav_r .p1>input{
 
    display:block;
    height:18px;
    width:137px;
    background:url(../images/logo_input.png) no-repeat right center;
    background-color:#5A5A5A;
    color:#fff;
    margin-bottom:10px;
}
.logo .u1 .u3 li .nav .nav_r  h2{
    font-size:10px;
    height:22px;
    width:85px;
    color:#C7CFC7;
   background: url(../images/logo_off.png)no-repeat right center;
}
.logo .u1 .u3 li .nav .nav_r .p1{
    margin-left:10px;
}
.logo .u1 .u3 li .nav .nav_r ul{
    margin-left:-10px;
}
.logo .u1 .u3 li .nav .nav_r ul li a:nth-child(1){
    font-size:9px;
    color:#C6CFCF;
    margin-right:38px;
}
.logo .u2 li{
    float:left;
    position:relative;
}


.logo .u2 li a{
    color:#FBFFFF;
    font-size:10px;
    padding:0 17px;
    line-height:30px;
    font-weight:999;
    background:url(../images/logo_bd.png) no-repeat right center;
}
.logo .u2 li i{
    width:26px;
    height:29px;
    position:absolute;
    left:-5px;
    bottom:0px;
}
/*========================================enter==============================*/
#enter{
    height: 498px;
    background:#FFFFFF;
}
#enter .img{
    width: 50px;
    height: 164px;
    position: fixed;
    top:160px;
    left: 50%;
    margin-left: 490px;
}

.enter input{
    border:1px solid #CCCCCC;
    display: inline-block;
    vertical-align: middle;
}
.enter{
    height: 498px;
    background: white;
}
.enter .name_1 ,.pass_1, .name_2 ,.pass_2 ,.pass_3{
    box-sizing: border-box;
    height: 36px;
    width: 344px;
}
.inputMa{height: 20px;width: 200px;margin-top: 10px;}
.setMa{margin:10px 5px 0px 5px;height: 20px;
    vertical-align: middle;}
.output{font-size: 12px;color:red;vertical-align: middle;margin-top: 10px;display: inline-block;}
.enter .name_1{
    margin-bottom: 19px;
}
.enter .Btn_1{
    display:block;
    border:none;
    margin-top: 20px;
    width:66px;
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    background: #FA7813;
    color: #FFF;
}
.enter .Btn_2{
    display:block;
    border:none;
    width: 71px;
    height: 32px;
    font-size: 12px;
    font-weight: 600;

    background: #FA7813;
    color: #FFF;
    margin-top: 20px;
}
.enter .Btn_1>input{
    width: 66px;
    height: 32px;
    background: #FA7813;
    color: #FFF;
}
.enter .Btn_2>input{
    width: 71px;
    height: 32px;
    background: #FA7813;
    color: #FFF;
}


.enter h2{
    box-sizing: border-box;
    padding-top: 14px;
    font-size: 16px;
    color: #5A5A5A;
    line-height:38px;
    height: 54px;
    width: 980px;
    border-bottom: 2px solid#404040;
}
.enter .enter_l{
    box-sizing: border-box;
    padding: 43px 76px 0px 30px;
    float: left;
    width: 450px;
    height: 444px;
    background: url(../images/border.png) no-repeat right;
}
.enter .enter_l p{
    color:#333333; 
    height: 22px;
    font-size:10px;
    line-height:22px;
    font-weight: 700;

}

.enter .enter_r{
    box-sizing: border-box;
    float:right;
    width: 530px;
    height: 444px;
    padding: 25px 0 0 70px;
}
.enter .enter_r .hint{
    box-sizing: border-box;
    width: 344px;
    height: 42px;
    background: #FFFFCC;
    border:1px dashed#FF4500;

}
.enter .enter_r .hint p{
    font-size: 10px;
    color: #FF4500;
    margin-left: 7px;
}
.enter .enter_r .hint span{
    font-size: 10px;
    color: #228B22;
    margin:0 64px 0 10px;
}
.enter .enter_r .hint u{
    font-size: 12px;
    color: #33333D;
    margin-right: 7px;
}
.enter .enter_r .p1{
     color:#333; 
    font-size:10px;
    line-height:18px;
    font-weight: 700;
    margin-top: 10px;
}
.enter .enter_r p:nth-child(2){
  margin-top: 20px;
}
.enter .enter_r .p2{
    font-size: 12px;
    color: #A699B3;
}
.enter .enter_r .p3{
    font-size: 12px;
    color: #A699B3;
    margin-left: 18px;
}

.enter .enter_r .s1{
    font-size: 12px;
    color: #333;
    line-height: 18px;
    font-weight: 700;
}
.enter .enter_r .s2{
    font-size: 12px;
    color: #403333;
}
.enter .enter_r u{
    font-size: 12px;
    color: #1155CC;
}
/*底部*/
#footer{
    background: #ffffff;
    height: 270px;
}
.footer{
    height: 270px;
    background:#fff;
    padding-top: 15px;
    border-top: 4px solid #5a5a5a;
}

.footer .footer_top{
    height: 133px;
    background:#ffffff;
    padding-left: 5px;
    margin-bottom: 35px;
}
.footer .footer_top .u1{
    margin-right: 72px;
}
.footer .footer_top ul .l1{
    margin-bottom:8px;
}
.footer .footer_top ul .l1 .footer_a1{
    font-weight:900;
}
.footer .footer_top .u2{
    margin-right: 47px;
}
.footer .footer_top .u1 li a{
    font-size: 12px;
    color:#333333;
    line-height: 6px;
}
.footer .footer_top .u2 li a{
    font-size: 12px;
    color:#333333;
    line-height: 6px;
}
.footer .footer_top .u3{
    margin-right: 52px;
}
.footer .footer_top .u3 li a{
    font-size: 12px;
    color:#333333;
    line-height: 6px;
}
.footer .footer_top .footer_box2{
    height: 133px;
    width: 127px;
    margin-right: 70px;
}
.footer .footer_top .footer_box2 h2{
    margin-bottom: 9px;
}
.footer .footer_top .footer_box2 h2>a{
    font-size: 12px;
    color:#333333;
    font-weight:900;
}
.footer .footer_top .footer_box2 p{
    position:relative;
    height: 26px;
}
.footer .footer_top .footer_box2 p>a{
    font-size: 10px;
    vertical-align: top;
    color:#d57950;
}
.footer .footer_top .footer_box2 p>span{
    font-size: 8px;
    position:absolute;
    left:22px;
    bottom:6px;
    color:#333333;
}
.footer .footer_top .footer_box2 p>img{
    vertical-align: top;
    margin-right: 4px;
}
.footer .footer_top .footer_box3{
    width: 230px;
}
.footer .footer_top .footer_box3 span{
    font-size: 12px;
    width: 188px;
    color:#333333;
    display: inline-block;
    float: left;
    margin-bottom: 6px;
}
.footer .footer_top .footer_box3 .input1{
    width: 172px;
    height: 22px;
    border:3px solid #5a5a5a;
    font-size: 12px;
    margin-bottom: 6px;
    color:#82847e;
}
.footer .footer_top .footer_box3 .input2{
    width: 80px;
    height: 22px;
    border:3px solid #5a5a5a;
    font-size: 10px;
    background-color:#5d5d5d;
    text-align: right;
    background-image:url(../images/footer_em.png);
    background-repeat:no-repeat;
    background-position:5px 3px;
    padding-right: 5px;
    color:#d2d2d1;
}
.footer .p1{
    text-align: center;
    margin-bottom: 14px;
}
.footer .p1 img{
    margin-right: 10px;
}
.footer .p2{
    text-align: center;
    font-size: 14px;
}
.footer .p2 span{
    color:#ff4500;
}